*.DS_Store
.idea/
.vscode/
build
coverage
docs
examples/dist
examples/node_modules
node_modules
npm-debug.log
scripts/parsers/vox-parser.js
scripts/parsers/vox-parser.js.map
types
stats.html
.npmrc
examples/.npmrc
.prettierrc
