<!DOCTYPE html>
<html>
<head>
    <script src="../../build/playcanvas-extras.js"></script>
    <script src="../../build/playcanvas-observer.js"></script>
    <script src="../../build/wasm-loader.js"></script>
    <script src="../../build/urlSearchParamsPolyfill.js"></script>
    <script src="../../build/promisePolyfill.js"></script>
    <script src="../../build/fetchPolyfill.js"></script>
    <script src="../../build/regeneratorRuntimePolyfill.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            margin: 0;
            overflow-y: hidden;
        }
        #application-canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="appInner">
            <canvas id='application-canvas'></canvas>
        </div>
    </div>
    <script>
        // polyfill slice on UInt8Array
        if (!Uint8Array.prototype.slice) {
            Object.defineProperty(Uint8Array.prototype, 'slice', {
                value: function (begin, end) {
                    return new Uint8Array(Array.prototype.slice.call(this, begin, end));
                }
            });
        }

        // include any constants necessary for the example
        var constValues = {{{ exampleConstValues }}};
        for (var i = 0; i < constValues.length; i++) {
            window[constValues[i].k] = constValues[i].v;
        }

        // include the example class which contains the example function to execute and any assets to load
        {{{ exampleClass }}}
        var example = new Example();

        var useTypeScript = window.top.localStorage.getItem('useTypeScript') === 'true';
        window.exampleFunction = window.top.localStorage.getItem(window.top.location.hash.replace('#', ''));
        if (!window.exampleFunction) {
            window.exampleFunction = example.example
        } else {
            if (useTypeScript) {
                window.exampleFunction = window.top.Babel.transform(exampleFunction, {
                    retainLines: true,
                    filename: 'transformedScript.tsx',
                    presets: ["react", "typescript", "env"]
                }).code;
            }
            window.exampleFunction = new Function('app', 'canvas', 'assets', 'data', exampleFunction);
        }
        window.loadFunction = example.load;

        // get url parameters
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
    </script>
    <script>
        function loadEngine(callback) {
            const enginePath = urlParams.get('use_local_engine') || "{{{enginePath}}}";

            const script = document.createElement('script');
            script.setAttribute('src', enginePath);
            script.onload = function() {
                callback();
            };
            document.head.appendChild(script);
        }

        function createApplication(canvas) {
            // create the app
            var app = new pc.Application(canvas, {
                mouse: new pc.Mouse(document.body),
                touch: new pc.TouchDevice(document.body),
                elementInput: new pc.ElementInput(canvas),
                gamepads: new pc.GamePads(),
                keyboard: new pc.Keyboard(window),
                graphicsDeviceOptions: {
                    alpha: true
                }
            });

            // set up miniStats
            var miniStats = new pcx.MiniStats(app);
            if (urlParams.get('miniStats') === 'false') {
                miniStats.enabled = false;
            }
            app.on('update', function () {
                if (window.top._showMiniStats !== undefined) miniStats.enabled = window.top._showMiniStats;
            });

            // handle resizing
            var canvasContainerElement = canvas.parentElement;
            canvas.setAttribute('width', window.innerWidth + 'px');
            canvas.setAttribute('height', window.innerHeight + 'px');
            var resizeTimeout = null;
            app.setCanvasResolution(pc.RESOLUTION_AUTO);
            if (window.ResizeObserver) {
                new ResizeObserver(function() {
                    canvas.width = canvasContainerElement.clientWidth;
                    canvas.height = canvasContainerElement.clientHeight;
                }).observe(canvasContainerElement);
            }

            return app;
        }

        function hasBasisAssets (assets) {
        for (let i = 0; i < assets.length; i++) {
            if (assets[i].url && assets[i].url.includes('.basis')) {
                return true;
            }
        }
        return false;
    };

        function loadResource(app, resource, callback) {
            if (!resource.type) {
                fetch(resource.url)
                    .then(function(response) { return response.text() })
                    .then(function(data) {
                        var module = {
                            exports: {}
                        };
                        window[resource.name] = (Function('module', 'exports', data).call(module, module, module.exports), module).exports;
                        callback({});
                    });
                return;
            }
            if (resource.data) {
                var asset = new pc.Asset(
                    resource.name,
                    resource.type,
                    resource.type === "cubemap" ? {
                        url: resource.url
                    } : null,
                    resource.data
                );
                asset.on("load", function (asset) {
                    callback(asset);
                });
                app.assets.add(asset);
                app.assets.load(asset);
            } else {
                app.assets.loadFromUrl(resource.url, resource.type, function (
                    err,
                    asset
                ) {
                    if (!err && asset) {
                        callback(asset);
                    }
                });
            }
        }

        function loadResources(app, callback) {
            var assets = [];
            var assetManifest = {};

            // stub out react
            window.React = { createElement: function(type, props) { if (type === 'div') assets.push(props); } };
            // call the stubbed load function to add all assets to the assets list
            window.loadFunction();

            // if we have any basis assets then initialize basis
            if (hasBasisAssets(assets)) {
                pc.basisInitialize({
                    glueUrl: '/static/lib/basis/basis.wasm.js',
                    wasmUrl: '/static/lib/basis/basis.wasm.wasm',
                    fallbackUrl: '/static/lib/basis/basis.js'
                });
            }

            var count = assets.length;
            function onLoadedResource(key, asset) {
                count--;
                if (key) {
                    assetManifest[key] = asset;
                }
                if (count <= 0) {
                    callback(assetManifest);
                }
            }

            assets.forEach(function (resource) {
                loadResource(app, resource, function(asset) {
                    onLoadedResource(resource.name, asset);
                });
            });
        }

        function callExample(app, canvas, assetManifest, data) {
            if (location.pathname.indexOf('misc/mini-stats') !== -1) {
                window.exampleFunction(app, canvas, pcx);
            } else {
                window.exampleFunction(app, canvas, assetManifest, data, wasmSupported, loadWasmModuleAsync);
            }
            if (window.top.location.pathname.indexOf('iframe') === -1) {
                var event = new CustomEvent("exampleLoad");
                window.top.dispatchEvent(event);
            }
        }
    </script>
    <script>
        // create the example observer 
        var data = new observer.Observer({});
        window.top.observerData = data;

        // load the engine, create the application, load the resources if necessary, then call the example
        loadEngine(function() {
            var canvas = document.getElementById('application-canvas');

            const app = createApplication(canvas);

            if (!window.loadFunction) {
                callExample(app, canvas, {}, data);
            } else {
                loadResources(app, function(assetManifest) {
                    callExample(app, canvas, assetManifest, data);
                });
            }
        });
    </script>
</body>
</html>