<!DOCTYPE html>
<html>
<head>
    <script src="../../build/regeneratorRuntimePolyfill.js"></script>
    <script src="../../build/urlSearchParamsPolyfill.js"></script>
    <script src="../../build/promisePolyfill.js"></script>
    <script src="../../build/fetchPolyfill.js"></script>
    <script src="../../build/arrayFromPolyfill.js"></script>
    <script src="../../build/objectValuesPolyfill.js"></script>
    <script src="../../build/playcanvas-observer.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            margin: 0;
            overflow-y: hidden;
        }
        #application-canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="appInner">
            <!--A link without href, which makes it invisible. Setting href in an example would trigger a download when clicked.-->
            <div style="width:100%; position:absolute; top:10px">
                <div style="text-align: center;">
                    <a id="ar-link" rel="ar" download="asset.usdz">
                        <img id="button" width="200" src="/arkit.png">
                    </a>    
                </div>
            </div>
            <canvas id='application-canvas'></canvas>
        </div>
    </div>
    <script>
        // polyfill slice on UInt8Array
        if (!Uint8Array.prototype.slice) {
            Object.defineProperty(Uint8Array.prototype, 'slice', {
                value: function (begin, end) {
                    return new Uint8Array(Array.prototype.slice.call(this, begin, end));
                }
            });
        }
        var event = new CustomEvent("exampleLoading");
        window.top.dispatchEvent(event);

        // include the example class which contains the example function to execute and any assets to load
        {{{ exampleClass }}}
        var example = new Example();

        var useTypeScript = window.top.localStorage.getItem('useTypeScript') === 'true';
        window.exampleFunction = window.top.localStorage.getItem(window.top.location.hash.replace('#', ''));
        if (!window.exampleFunction) {
            window.exampleFunction = example.example
        } else {
            if (useTypeScript) {
                window.exampleFunction = window.top.Babel.transform(exampleFunction, {
                    retainLines: true,
                    filename: 'transformedScript.tsx',
                    presets: ["react", "typescript", "env"]
                }).code;
            }
            window.exampleFunction = new Function('canvas', 'deviceType', 'data', exampleFunction);
        }
        window.loadFunction = example.load;
        window.files = window.top.editedFiles || example.constructor.FILES;

        // get url parameters
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
    </script>
    <script>
        function loadScript(url, onload) {
            const script = document.createElement('script');
            script.setAttribute('src', url);
            script.onload = onload;
            document.head.appendChild(script);
        }

        function loadEngine(callback) {
            const enginePath = urlParams && urlParams.get('use_local_engine') || "{{{enginePath}}}";

            loadScript(enginePath, () => {
                window.top.pc = window.pc;
                loadScript('../../build/playcanvas-extras.js', () => {
                    callback();
                });
            });
        }

        function setupApplication(app) {
            const canvas = app.graphicsDevice.canvas;
            // handle resizing
            var canvasContainerElement = canvas.parentElement;
            canvas.setAttribute('width', window.innerWidth + 'px');
            canvas.setAttribute('height', window.innerHeight + 'px');
            var resizeTimeout = null;
            app.setCanvasResolution(pc.RESOLUTION_AUTO);
            if (window.ResizeObserver) {
                new ResizeObserver(function() {
                    canvas.width = canvasContainerElement.clientWidth;
                    canvas.height = canvasContainerElement.clientHeight;
                }).observe(canvasContainerElement);
            }

            if ({{miniStats}} && app.graphicsDevice.deviceType !== 'webgpu') {
                // set up miniStats
                var miniStats = new pcx.MiniStats(app);
                if (urlParams.get('miniStats') === 'false') {
                    miniStats.enabled = false;
                }
                app.on('update', function () {
                    if (window.top._showMiniStats !== undefined) miniStats.enabled = window.top._showMiniStats;
                });
            }
        }

        function loadResource(app, resource, callback) {
            if (!resource.type) {
                fetch(resource.url)
                    .then(function(response) { return response.text() })
                    .then(function(data) {
                        var module = {
                            exports: {}
                        };
                        window[resource.name] = (Function('module', 'exports', data).call(module, module, module.exports), module).exports;
                        callback({});
                    });
                return;
            }
        }

        function loadResources(app, callback) {
            var assets = [];
            var assetManifest = {};

            // stub out react
            window.React = { createElement: function(type, props) { if (type === 'div') assets.push(props); } };
            // call the stubbed load function to add all assets to the assets list
            window.loadFunction();

            var count = assets.length;
            function onLoadedResource(key, asset) {
                count--;
                if (key) {
                    assetManifest[key] = asset;
                }
                if (count <= 0) {
                    callback(assetManifest);
                }
            }

            assets.forEach(function (resource) {
                loadResource(app, resource, function(asset) {
                    onLoadedResource(resource.name, asset);
                });
            });
        }

        function callExample(canvas, assetManifest, files, data) {
            function escapeRegExp(string) {
                return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
            }
            function replaceAll(str, find, replace) {
                return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
            }
            var argsString = window.exampleFunction.toString().match(/function\s.*?\(([^)]*)\)/)[1];
            argsString = replaceAll(argsString, ' ', '');
            argsString = replaceAll(argsString, '\n', '');
            var argNames = argsString.split(',');
            var args = argNames.map(function(arg) {
                if (arg === 'canvas') {
                    return canvas;
                } else if (arg === 'assetManifest') {
                    return assetManifest;
                } else if (arg === 'files') {
                    return files;
                } else if (arg === 'data') {
                    return data;
                } else if (arg === 'pcx') {
                    return pcx;
                } else if (arg === 'deviceType') {
                    if ({{{webgpuEnabled}}}) {
                        return window.top.preferredGraphicsDevice || 'webgpu';
                    } else if (['webgl1', 'webgl2'].includes(window.top.preferredGraphicsDevice)) {
                        return window.top.preferredGraphicsDevice;
                    } else {
                        return 'webgl2';
                    }
                }
            });

            window.exampleFunction.apply(this, args);

            const pollHandler = setInterval(appCreationPoll, 50);
            function appCreationPoll() {
                if (pc.app && pc.app.graphicsDevice.canvas) {
                    clearInterval(pollHandler);
                    setupApplication(pc.app);
                    var event = new CustomEvent("exampleLoad");
                    window.top.dispatchEvent(event);
                }
            }
        }
    </script>
    <script>
        // create the example observer 
        var data = new observer.Observer({});
        window.top.observerData = data;

        // load the engine, create the application, load the resources if necessary, then call the example
        loadEngine(function() {
            var canvas = document.getElementById('application-canvas');

            if (!window.loadFunction) {
                callExample(canvas, {}, window.files, data);
            } else {
                loadResources(undefined, function(assetManifest) {
                    callExample(canvas, assetManifest, window.files, data);
                });
            }
        });
    </script>
</body>
</html>