<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='/#/{{{path}}}'" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@playcanvas" />
    <meta name="twitter:title" content="{{{exampleTitle}}}" />
    <meta name="twitter:description" content="A PlayCanvas engine example" />
    <meta name="twitter:image" content="https://playcanvas.github.io/thumbnails/{{{largeThumbnailName}}}.png" />
    <meta name="twitter:url" content="https://playcanvas.github.io/{{{path}}}" />
  </head>
  <body>
    <p>Please follow <a href="/#/{{{path}}}">this link</a>.</p>
  </body>
</html>