<!-- N.B. All single quote strings starting with '@' and are in all caps denote placeholders for replacement code  -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="0; url='/#/@PATH'" />
        <meta name="twitter:card" content="photo" />
        <meta name="twitter:site" content="@playcanvas" />
        <meta name="twitter:title" content="@TITLE" />
        <meta name="twitter:description" content="A PlayCanvas engine example" />
        <meta name="twitter:image" content="https://playcanvas.github.io/thumbnails/@THUMB.webp" />
        <meta name="twitter:url" content="https://playcanvas.github.io/@PATH" />
    </head>
    <body>
        <p>Please follow <a href="/#/@PATH">this link</a>.</p>
    </body>
</html>
