* {
    -webkit-user-select: none;      /* iOS Safari */
    user-select: none;              /* Other browsers */
    -webkit-touch-callout: none;    /* Prevents text selection popups on iOS */
    -webkit-user-drag: none;        /* Prevents dragging images on iOS */
    touch-action: none;             /* Prevent touch interactions */
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    touch-action: none;
}

#application-canvas {
    width: 100%;
    height: 100%;
}
