body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    color: #cccfcf;
    background-color: #324447;
}

/* Sidebar menu */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

/* Navigation menu links */
.sidenav a, p {
  text-decoration: none;
  color: #5b7073;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 24px;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #A1A1A1;
}

#example, iframe {
  position: fixed;
  border: 0px;
  left: 0;
  right: 0;
  padding-left: 160px;
  width: calc(100% - 160px);
  height: 100%;
  overflow: auto;
}
