<html>
    <head>
    </head>
    <body>
        <h1 id="qunit-header">sdk.tests.TextElement</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup, will be hidden</div>

        <link rel="stylesheet" type="text/css" href="../../../qunit/qunit.css" />
        <script type="text/javascript" src="../../../qunit/qunit.js"></script>
        <script type="text/javascript" src="../../../qunit/junitlogger.js"></script>
        <script type="text/javascript" src="../../../qunit/qunit-close-enough.js"></script>
        <script type="text/javascript" src="../../../qunit/jack.js"></script>

        <script type="text/javascript" src="../../../../src/core/core.js"></script>
        <script type="text/javascript" src="../../../../src/polyfill/request-animation-frame.js"></script>
        <script type="text/javascript" src="../../../../src/polyfill/string.js"></script>
        <script type="text/javascript" src="../../../../src/polyfill/fullscreen.js"></script>
        <script type="text/javascript" src="../../../../src/core/color.js"></script>
        <script type="text/javascript" src="../../../../src/core/guid.js"></script>
        <script type="text/javascript" src="../../../../src/core/time.js"></script>
        <script type="text/javascript" src="../../../../src/core/uri.js"></script>
        <script type="text/javascript" src="../../../../src/core/log.js"></script>
        <script type="text/javascript" src="../../../../src/core/inheritance.js"></script>
        <script type="text/javascript" src="../../../../src/core/path.js"></script>
        <script type="text/javascript" src="../../../../src/core/string.js"></script>
        <script type="text/javascript" src="../../../../src/core/debug.js"></script>
        <script type="text/javascript" src="../../../../src/core/events.js"></script>
        <script type="text/javascript" src="../../../../src/core/tags.js"></script>
        <script type="text/javascript" src="../../../../src/core/object-pool.js"></script>
        <script type="text/javascript" src="../../../../src/core/platform.js"></script>
        <script type="text/javascript" src="../../../../src/math/math.js"></script>
        <script type="text/javascript" src="../../../../src/math/vec2.js"></script>
        <script type="text/javascript" src="../../../../src/math/vec3.js"></script>
        <script type="text/javascript" src="../../../../src/math/vec4.js"></script>
        <script type="text/javascript" src="../../../../src/math/mat3.js"></script>
        <script type="text/javascript" src="../../../../src/math/mat4.js"></script>
        <script type="text/javascript" src="../../../../src/math/quat.js"></script>
        <script type="text/javascript" src="../../../../src/math/curve.js"></script>
        <script type="text/javascript" src="../../../../src/math/curve-set.js"></script>
        <script type="text/javascript" src="../../../../src/shape/bounding-box.js"></script>
        <script type="text/javascript" src="../../../../src/shape/bounding-sphere.js"></script>
        <script type="text/javascript" src="../../../../src/shape/frustum.js"></script>
        <script type="text/javascript" src="../../../../src/shape/plane.js"></script>
        <script type="text/javascript" src="../../../../src/shape/ray.js"></script>
        <script type="text/javascript" src="../../../../src/shape/oriented-box.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/graphics.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/scope-id.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/scope-space.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/version.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/versioned-object.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/vertex-iterator.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/vertex-format.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/vertex-buffer.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/index-buffer.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/transform-feedback.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/texture.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/render-target.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/shader-input.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/shader.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-library.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/device.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/chunks.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/simple-post-effect.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/prefilter-cubemap.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/paraboloid.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/chunks/generated-shader-chunks.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/program-lib.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/basic.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/depth.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/depth-rgba.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/particle.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/standard.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/pick.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/program-lib/skybox.js"></script>
        <script type="text/javascript" src="../../../../src/graphics/post-effect.js"></script>
        <script type="text/javascript" src="../../../../src/scene/scene.js"></script>
        <script type="text/javascript" src="../../../../src/scene/forward-renderer.js"></script>
        <script type="text/javascript" src="../../../../src/scene/graph-node.js"></script>
        <script type="text/javascript" src="../../../../src/scene/camera.js"></script>
        <script type="text/javascript" src="../../../../src/scene/light.js"></script>
        <script type="text/javascript" src="../../../../src/scene/material.js"></script>
        <script type="text/javascript" src="../../../../src/scene/basic-material.js"></script>
        <script type="text/javascript" src="../../../../src/scene/depth-material.js"></script>
        <script type="text/javascript" src="../../../../src/scene/standard-material.js"></script>
        <script type="text/javascript" src="../../../../src/scene/mesh.js"></script>
        <script type="text/javascript" src="../../../../src/scene/skin.js"></script>
        <script type="text/javascript" src="../../../../src/scene/skin-partition.js"></script>
        <script type="text/javascript" src="../../../../src/scene/morph.js"></script>
        <script type="text/javascript" src="../../../../src/scene/model.js"></script>
        <script type="text/javascript" src="../../../../src/scene/particle-emitter.js"></script>
        <script type="text/javascript" src="../../../../src/scene/pick.js"></script>
        <script type="text/javascript" src="../../../../src/scene/procedural.js"></script>
        <script type="text/javascript" src="../../../../src/scene/default-material.js"></script>
        <script type="text/javascript" src="../../../../src/scene/sprite.js"></script>
        <script type="text/javascript" src="../../../../src/scene/texture-atlas.js"></script>
        <script type="text/javascript" src="../../../../src/scene/stencil-parameters.js"></script>
        <script type="text/javascript" src="../../../../src/anim/animation.js"></script>
        <script type="text/javascript" src="../../../../src/anim/skeleton.js"></script>
        <script type="text/javascript" src="../../../../src/sound/manager.js"></script>
        <script type="text/javascript" src="../../../../src/sound/sound.js"></script>
        <script type="text/javascript" src="../../../../src/sound/listener.js"></script>
        <script type="text/javascript" src="../../../../src/sound/instance.js"></script>
        <script type="text/javascript" src="../../../../src/sound/instance3d.js"></script>
        <script type="text/javascript" src="../../../../src/audio/channel.js"></script>
        <script type="text/javascript" src="../../../../src/audio/channel3d.js"></script>
        <script type="text/javascript" src="../../../../src/input/input.js"></script>
        <script type="text/javascript" src="../../../../src/input/mouse.js"></script>
        <script type="text/javascript" src="../../../../src/input/keyboard.js"></script>
        <script type="text/javascript" src="../../../../src/input/game-pads.js"></script>
        <script type="text/javascript" src="../../../../src/input/touch.js"></script>
        <script type="text/javascript" src="../../../../src/input/controller.js"></script>
        <script type="text/javascript" src="../../../../src/input/element-input.js"></script>
        <script type="text/javascript" src="../../../../src/vr/vr-manager.js"></script>
        <script type="text/javascript" src="../../../../src/vr/vr-display.js"></script>
        <script type="text/javascript" src="../../../../src/net/http.js"></script>
        <script type="text/javascript" src="../../../../src/script/script-registry.js"></script>
        <script type="text/javascript" src="../../../../src/script/script.js"></script>
        <script type="text/javascript" src="../../../../src/framework/script.js"></script>
        <script type="text/javascript" src="../../../../src/framework/application.js"></script>
        <script type="text/javascript" src="../../../../src/framework/stats.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/registry.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/animation/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/animation/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/animation/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/model/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/model/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/model/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/camera/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/camera/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/camera/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/camera/post-effect-queue.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/light/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/light/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/light/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script-legacy/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script-legacy/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/script-legacy/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sound/constants.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sound/slot.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sound/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sound/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sound/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-source/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-source/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-source/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-listener/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-listener/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/audio-listener/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/rigid-body/constants.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/rigid-body/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/rigid-body/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/rigid-body/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/collision/trigger.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/collision/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/collision/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/collision/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/particle-system/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/particle-system/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/particle-system/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sprite/sprite-animation-clip.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sprite/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sprite/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/sprite/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/screen/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/screen/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/screen/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/element/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/element/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/element/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/element/image-element.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/element/text-element.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/text/font.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/zone/component.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/zone/system.js"></script>
        <script type="text/javascript" src="../../../../src/framework/components/zone/data.js"></script>
        <script type="text/javascript" src="../../../../src/framework/entity.js"></script>
        <script type="text/javascript" src="../../../../src/resources/loader.js"></script>
        <script type="text/javascript" src="../../../../src/resources/animation.js"></script>
        <script type="text/javascript" src="../../../../src/resources/audio.js"></script>
        <script type="text/javascript" src="../../../../src/resources/cubemap.js"></script>
        <script type="text/javascript" src="../../../../src/resources/json.js"></script>
        <script type="text/javascript" src="../../../../src/resources/material.js"></script>
        <script type="text/javascript" src="../../../../src/resources/model.js"></script>
        <script type="text/javascript" src="../../../../src/resources/script.js"></script>
        <script type="text/javascript" src="../../../../src/resources/text.js"></script>
        <script type="text/javascript" src="../../../../src/resources/binary.js"></script>
        <script type="text/javascript" src="../../../../src/resources/texture.js"></script>
        <script type="text/javascript" src="../../../../src/resources/html.js"></script>
        <script type="text/javascript" src="../../../../src/resources/css.js"></script>
        <script type="text/javascript" src="../../../../src/resources/shader.js"></script>
        <script type="text/javascript" src="../../../../src/resources/scene.js"></script>
        <script type="text/javascript" src="../../../../src/resources/hierarchy.js"></script>
        <script type="text/javascript" src="../../../../src/resources/scene-settings.js"></script>
        <script type="text/javascript" src="../../../../src/resources/folder.js"></script>
        <script type="text/javascript" src="../../../../src/resources/font.js"></script>
        <script type="text/javascript" src="../../../../src/resources/texture-atlas.js"></script>
        <script type="text/javascript" src="../../../../src/resources/sprite.js"></script>
        <script type="text/javascript" src="../../../../src/resources/parser/json-model.js"></script>
        <script type="text/javascript" src="../../../../src/resources/parser/scene.js"></script>
        <script type="text/javascript" src="../../../../src/asset/asset.js"></script>
        <script type="text/javascript" src="../../../../src/asset/asset-variants.js"></script>
        <script type="text/javascript" src="../../../../src/asset/asset-registry.js"></script>
        <script type="text/javascript" src="../../../../src/backwards-compatibility.js"></script>
        <script type="text/javascript" src="../../../../src/scene/immediate.js"></script>
        <script type="text/javascript" src="../../../../src/scene/lightmapper.js"></script>
        <script type="text/javascript" src="../../../../src/scene/batching.js"></script>

        <!-- Tests -->
        <script type="text/javascript" src="./test_textelement.js"></script>
    </body>
</html>
