name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Build PlayCanvas
      run: npm run build

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Run ESLint
      run: npm run lint

  typescript-definitions:
    name: Typescript Definitions
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Build Typescript definitions
      run: npm run test:tsd

  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Node.js 12.x
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Build PlayCanvas (ES5-only)
      run: npm run build:es5
    - name: Install X virtual framebuffer
      run: sudo apt-get install xvfb
    - name: Run unit tests
      run: xvfb-run --auto-servernum npm run test
