name: Nightly

on:
  workflow_dispatch:
    inputs:
      force:
        description: 'Force release even if no changes detected'
        type: boolean
        default: false

permissions:
  contents: write

jobs:
  nightly:
    runs-on: ubuntu-latest
    if: github.repository == 'playcanvas/engine' && github.ref_name == 'main'
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org/'

      - name: Configure Git User
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
        shell: bash

      - name: Check for changes
        if: github.event.inputs.force == 'false'
        run: |
          last_tag=$(git describe --tags --abbrev=0)
          if ! git diff --quiet --exit-code $last_tag; then
            echo "Changes found since v$last_tag"
          else
            echo "No changes detected since v$last_tag"
            exit 1
          fi

      - name: Bump version
        run: |
          npm version prerelease --preid=dev

      - name: Push version
        run: |
          git push origin HEAD:${{ github.ref_name }}
          git push origin --tags
        shell: bash
